footer{
    padding: 10px 10px;
    text-align: center;
    background-color: var(--celeste);
    color: #324d63;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.infoFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logoFooter, .infoDerecha {
    flex: 1;
    margin: 20px;
}

.fotoFooter {
    width: 150px;
    margin-bottom: 20px;
    background-color: #e0d8c9;
    padding: 10px;
    border-radius: 45px;
}

footer p {
    font-size: 14px;
    margin: 10px;
    color: #324d63;

}

footer i{
    color: #4e7ea5;
}

footer p i {
    text-decoration: none;
    color: #1a3d5c;
    margin-right: 10px;
}

footer h2 {
    font-size: 24px;
    /* color: #f4e7d1; */
    margin-bottom: 10px;
    color: #324d63;

}

footer a {
    /* color: #f4e7d1; */
    text-decoration: none;
    color: #324d63;


}

footer .redesSociales {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

footer .icono {
    margin-right: 10px;
    padding: 10px;
}

footer .icono img {
    width: 30px;
    height: 30px;
    border-radius: 10px;

}

footer .icono:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

footer .copyright{
    color: #324d63;
}
