<footer>
  <section class="infoFooter">
    <section class="logoFooter">
      <a href="#">
      <figure class="logo">
      <img src="assets/img/logo.png" alt="logo" class="fotoFooter" />
      </figure>
    </a>
      <p><i class="fa-solid fa-map-pin"></i> Quito - Ecuador</p>
      <p><i class="fa-solid fa-phone"></i> +593 968606111</p>
    </section>
    <section class="infoDerecha">
      <section class="redesSociales">
        <a href="https://www.instagram.com/" class="icono"><img src="assets/img/Instagram.webp" alt="Ig" ></a>
        <a href="https://twitter.com/?lang=es" class="icono"><img src="assets/img/x.jpg" alt="X" ></a>
        <a href="https://www.facebook.com/" class="icono"><img src="assets/img/facebook.png" alt="Fb" ></a>
      </section>  
      <p><i class="fa-solid fa-envelope"></i> <a href="mailto:IMCcalc&#64;gmail.com">IMCcalc&#64;gmail.com</a></p>
      <p><i class="fa-solid fa-square-envelope"></i> <a href="mailto:servicioIMCcalc&#64;gmail.com">servicioIMCcalc&#64;gmail.com</a></p>
      <section class="copyright">&copy; Stefany Díaz - IMCcalc</section>
    </section>
  </section>
</footer>
